*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f7fb;
    color:#333;
}

header{
    background:linear-gradient(135deg,#2563eb,#1e40af);
    color:white;
    text-align:center;
    padding:40px 20px;
}

header img{
    width:180px;
    height:180px;
    border-radius:50%;
    border:5px solid white;
    object-fit:cover;
    margin-bottom:20px;
}

header h1{
    font-size:35px;
}

header p{
    margin-top:10px;
    font-size:18px;
}

nav{
    background:#1e3a8a;
    text-align:center;
    padding:15px;
    position:sticky;
    top:0;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 20px;
    font-weight:bold;
}

nav a:hover{
    color:#ffd54f;
}

.card{
    width:85%;
    margin:30px auto;
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.card h2{
    color:#2563eb;
    margin-bottom:15px;
}

table{
    width:100%;
    border-collapse:collapse;
}

table th{
    background:#2563eb;
    color:white;
}

table th,
table td{
    border:1px solid #ddd;
    padding:12px;
    text-align:left;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.skills span{
    background:#2563eb;
    color:white;
    padding:10px 18px;
    border-radius:20px;
}

ul{
    padding-left:20px;
}

ul li{
    margin:10px 0;
}

footer{
    background:#1e3a8a;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}

@media(max-width:768px){

header h1{
    font-size:28px;
}

nav a{
    display:block;
    margin:10px;
}

.card{
    width:95%;
}
}
